<!DOCTYPE html>
<html>
<head>
    <title>Queueless - User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <h2>QUEUELESS – Take a Token</h2>
</div>

<div class="container">
    <h3>User Details</h3>

    <div class="form-box">
        <input type="text" id="name" placeholder="Enter your name">
        <input type="text" id="purpose" placeholder="Enter purpose">
        <button onclick="generateToken()">Generate Token</button>
    </div>
</div>

<!-- Popup -->
<div id="popup" class="popup">
    <div class="popup-content">
        <h3>Token Generated ✅</h3>
        <p id="tokenText"></p>
        <button onclick="closePopup()">OK</button>
    </div>
</div>

<script>
    let token = 1;
    let counters = ["Counter A", "Counter B", "Counter C"];

    function generateToken() {
        let name = document.getElementById("name").value;
        let purpose = document.getElementById("purpose").value;

        if (name === "" || purpose === "") {
            alert("Please fill all details");
            return;
        }

        let counter = counters[token % counters.length];

        document.getElementById("tokenText").innerText =
            "Name: " + name +
            "\nPurpose: " + purpose +
            "\nToken: T-" + token +
            "\nAssigned Counter: " + counter;

        token++;
        document.getElementById("popup").style.display = "flex";
    }

    function closePopup() {
        document.getElementById("popup").style.display = "none";
    }
</script>

</body>
</html>

