<!DOCTYPE html>
<html>
<head>
    <title>QUEUELESS – Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="welcome-wrapper">
    <div class="welcome-card">

        <h1>Welcome to <span>QUEUELESS</span></h1>
        <p>Digital Queue Management and Token Generation System<br>
           for Panchayat Office</p>

        <!-- PHONE NUMBER -->
        <input type="tel" id="phone" placeholder="Enter Phone Number" class="welcome-input">

        <!-- CAPTCHA -->
        <div class="captcha-row">
            <div class="captcha-display" id="captcha">12345</div>
            <button class="captcha-refresh" onclick="refreshCaptcha()">⟳</button>
        </div>

        <!-- CAPTCHA INPUT -->
        <input type="text" id="captchaInput" placeholder="Enter Captcha" class="welcome-input">

        <!-- OTP BUTTON -->
        <button class="otp-btn" onclick="validateCaptcha()">Generate OTP</button>

        <!-- OTP INPUT -->
        <input type="text" id="otp" placeholder="Enter OTP" class="welcome-input" style="display:none;">

        <!-- VERIFY OTP -->
        <button id="verifyBtn" class="otp-btn" style="display:none;" onclick="verifyOTP()">Verify OTP</button>


    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
